.App {
  background-color: rgb(224, 224, 224);
  padding: 0% 4%;
}


/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */

.Bio {
  display: flex;
  padding-top: 15%;
  padding-bottom: 15%;
}

.Bio * {
  padding: 20px;
}

.Bio img {
  border-radius: 15%;
  margin: 1em 0em;
  height: 30%;
  width: 30%;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
  padding-bottom: 15%;
}

.Blog-pics {
  width: 50vw;
}

.Box {
  border: 10px solid  rgb(82, 82, 82);
  margin: 5vw;
  padding: 2vw;
  inline-size: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Box p {
  inline-size: 95%;
  margin: 0px;
  border-top: 5px solid rgb(135, 206, 235);
  padding: 10px;
  display: flex;
  justify-content: center;
}

.Header {
  background-color: rgb(82, 82, 82);
  padding: 0% 4% 0% 4%;
  color: white;
  border-bottom-color: rgb(135, 206, 235);
  border-bottom-width: 1.5vw;
  border-bottom-style: double;
  display: flex;
  border-bottom-left-radius: 2vw;
  border-bottom-right-radius: 2vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.Header-name {
  font-size: 5vw;
  justify-content: center;
  white-space: nowrap;
}

.Nav {
  font-size: 2.5vw;
  display: flex;
  align-items: center;
  margin: 0% 0% 0% 12%;
}

.Nav a {
  padding: 1.5vw;
  white-space: nowrap;
  flex: 1;
  color: white;
  text-decoration: none;
}

.Proj-img {
  height: 60%;
  width: 60%;
}

.Footer {
  background-color: rgb(82, 82, 82);
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top-color: rgb(135, 206, 235);
  border-top-width: 1.5vw;
  border-top-style: double;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  padding: 1%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.Footer p {
  margin: 0px;
}

.Social {
  margin: 0vw 1.75vw;
}

/* span {
  height: 75%;
  width: 75%;
} */

/* @keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
